.top-nav {
  background-color: #333;
  padding: 10px;
}

.top-nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.top-nav a:hover {
  text-decoration: underline;
}

.side-nav {
  width: 150px;
  background-color: #222;
  padding: 10px;
  height: 100vh;
}

.side-nav a {
  display: block;
  color: white;
  padding: 10px 0;
  text-decoration: none;
}

.side-nav a:hover {
  background-color: #444;
}
.song-list a {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.song-list a:hover {
  color: #0077cc;
  text-decoration: underline;
}
